
$footer_height:50px;
$container_width:940px;
$body_font-size:16px;
$body_line-height:1.42;
$maincontent_padding-bottom: 50px;


@import "_misc/mixins";
@import "_misc/normalize";
@import "_misc/adjustment";


