<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('Task index')" />
<body>
<div id="root">
    <div th:replace="fragments/nav :: nav"></div>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h1>TaskManager</h1>
                <ul>
                    <li v-for="task in tasks">
                        <h3><a :href="getLink(task)">{{task.taskName}}</a></h3>
                        <h6>Created by : {{task.author.username}}</h6>
                        <p>{{task.description}}</p>
                        <hr />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments/footer :: foot"></div>
<script>
    var app = new Vue({
        el: '#root',
        data : {tasks: []},
        mounted(){
            this.fetchPosts();
        },
        methods: {
            fetchPosts(){
                axios.get("/api/tasks/").then(function(response){
                    this.tasks = response.data;
                }.bind(this));
            },
            getLink(task){
                return '/api/tasks/' + task.id;
            }
        }
    });
</script>
</html>